<h2 mat-dialog-title>Edit Password</h2>
<mat-dialog-content>
  <form [formGroup]="newPasswordForm">
    <!-- add error message for touched vid 16 min 18-->

    <div class="form-group col-12">
      <label for="passwrod">New Password: </label>
      <input
        type="text"
        [(ngModel)]="data.newPassword"
        formControlName="password"
      />
      <!-- add error message for touched / length? -->
    </div>

    <div class="form-group col-12">
      <label for="cpassword">Confirm Password: </label>
      <input type="text" formControlName="confirmPassword" />
      <!-- add error message for touched -->
      <span
        style="color: red"
        *ngIf="newPasswordForm.hasError('notmatched') && confirmPassword.valid"
      >
        Password not matched
      </span>
    </div>

    <div class="form-group col-12" style="margin-top: 20px; text-align: center">
      <!-- reset form -->
      <button
        style="margin-right: 5px"
        mat-button
        [mat-dialog-close]="data.newPassword"
        [disabled]="!newPasswordForm.valid"
        type="submit"
      >
        Save
      </button>
      <button mat-button mat-dialog-close type="reset">Cancel</button>
      <!-- make a on Cancel button-->
    </div>
  </form>
</mat-dialog-content>
